{% extends "base.html" %}

{% block content %}
<h4>Teams: </h4>
    {% for team in teams %}
        <ul>
            <li><a href="{% url 'team' team.id %}">{{ team.name }}: </a></li>
            {% for teammemeber in teammembers_list %}
                {% if teammemeber.team == team %}
                <a href="{% url 'team-member' teammemeber.id %}">{{ teammemeber.position }}: {{ teammemeber.name }} || </a>
                {% endif %}
            {% endfor %}
        </ul>
    {% endfor %}
<h4>Open tasks:</h4>
    <table>
        <tr>
            <th>Task</th>
            <th>Priority</th>
            <th>Frequency</th>
            <th>Due</th>
            <th>Department</th>
            <th>Responsible</th>
            <th>Approver</th>
            <th>Status</th>
            <th>End date</th>
        </tr>
        {% for task in task_list %}
        <tr>
            <td><a href="{% url 'task-details' task.pk %}">{{ task.name }}</a></td>
            <td>{{ task.get_priority_display }}</td>
            <td>{{ task.get_frequency_display }}</td>
            <td>{{ task.get_due_display }}</td>
            <td>{{ task.department }}</td>
            <td>{{ task.responsible }}</td>
            <td>{{ task.approver }}</td>
            <td><a href="{% url 'update-task' task.pk %}">{{ task.get_status_display }}</a></td>
            <td>{{ task.end_date }}</td>
        </tr>
        {% endfor %}
    </table>
    <p><a href="{% url 'task-list' %}">See all tasks</a></p>
    <br>
<!--<h4>Users: </h4>-->
    <!--<table>-->
        <!--<tr>-->
            <!--<th>Login</th>-->
            <!--<th>Name</th>-->
            <!--<th>Position</th>-->
            <!--<th>Team</th>-->
        <!--</tr>-->
        <!--{% for teammemeber in teammembers_list %}-->
        <!--<tr>-->
            <!--<td>{{ teammemeber.user }}</td>-->
            <!--<td><a href="{% url 'team-member' teammemeber.id %}">{{ teammemeber.name }}</a></td>-->
            <!--<td>{{ teammemeber.position }}</td>-->
            <!--<td>{{ teammemeber.team }}</td>-->
        <!--</tr>-->
        <!--{% endfor %}-->
    <!--</table>-->
{% endblock %}
