{% extends "base.html" %}

{% block content %}
<h3>Task list: </h3>
    <table>
        <tr>
            <th>Task</th>
            <th>Priority</th>
            <th>Frequency</th>
            <th>Due</th>
            <th>Department</th>
            <th>Responsible</th>
            <th>Approver</th>
            <th>Status</th>
            <th>End date</th>
            <th></th>
        </tr>
        {% for task in task_list %}
        <tr>
            <td><a href="{% url 'task-details' task.pk %}">{{ task.name }}</a></td>
            <td>{{ task.get_priority_display }}</td>
            <td>{{ task.get_frequency_display }}</td>
            <td>{{ task.get_due_display }}</td>
            <td><a href="/team/{{ task.department_id }}/">{{ task.department }}</a></td>
            <td><a href="/team_member/{{ task.responsible_id }}/">{{ task.responsible }}</a></td>
            <td><a href="/team_member/{{ task.approver_id }}/">{{ task.approver }}</a></td>
            <td><a href="{% url 'update-task' task.pk %}">{{ task.get_status_display }}</a></td>
            <td>{{ task.end_date }}</td>
            <td><a href="{% url 'delete-task' task.pk %}">delete task</a></td>
        </tr>
        {% endfor %}
    </table>
    <p><a href="{% url 'create-task' %}">Add task</a></p>
<p><a href="{% url 'main' %}">Back to main page</a></p>
{% endblock %}
