{% extends "base.html" %}

{% block content %}
<h3>{{ team_member.name }}</h3>
<p>Team: <a href="/team/{{ team_member.team_id }}/">{{ team_member.team }}</a></p>
<p>Position: {{ team_member.position }}</p>
<h4>Tasks to do:</h4>
<table>
    <tr>
        <th>Task</th>
        <th>Priority</th>
        <th>Frequency</th>
        <th>Month</th>
        <th>Due</th>
        <th>Department</th>
        <th>Responsible</th>
        <th>Approver</th>
        <th>Status</th>
        <th>End date</th>
        <th>Approval</th>
        <th>Approval date</th>
    </tr>
    {% for task in tasks_responsible %}
    <tr>
        <td><a href="{% url 'task-details' task.pk %}">{{ task.name }}</a></td>
        <td>{{ task.get_priority_display }}</td>
        <td>{{ task.get_frequency_display }}</td>
        <td>{{ task.get_month_display }}</td>
        <td>{{ task.get_due_display }}</td>
        <td>{{ task.department }}</td>
        <td>{{ task.responsible }}</td>
        <td>{{ task.approver }}</td>
        <td><a href="{% url 'update-task' task.pk %}">{{ task.get_status_display }}</a></td>
        <td>{{ task.end_date }}</td>
        <td>{{ task.approval }}</td>
        <td>{{ task.approval_date }}</td>
    </tr>
    {% endfor %}
</table>
<br>
<h4>Tasks to approve:</h4>
<table>
    <tr>
        <th>Task</th>
        <th>Priority</th>
        <th>Frequency</th>
        <th>Month</th>
        <th>Due</th>
        <th>Department</th>
        <th>Responsible</th>
        <th>Approver</th>
        <th>Status</th>
        <th>End date</th>
        <th>Approval</th>
        <th>Approval date</th>
        <th></th>
    </tr>
    {% for task in tasks_approver %}
    <tr>
        <td><a href="{% url 'task-details' task.pk %}">{{ task.name }}</a></td>
        <td>{{ task.get_priority_display }}</td>
        <td>{{ task.get_frequency_display }}</td>
        <td>{{ task.get_month_display }}</td>
        <td>{{ task.get_due_display }}</td>
        <td>{{ task.department }}</td>
        <td>{{ task.responsible }}</td>
        <td>{{ task.approver }}</td>
        <td>{{ task.get_status_display }}</td>
        <td>{{ task.end_date }}</td>
        <td><a href="{% url 'update-approval' task.pk %}">{{ task.approval }}</a></td>
        <td>{{ task.approval_date }}</td>
        <td><a href="{% url 'delete-task' task.pk %}">delete task</a></td>
    </tr>
    {% endfor %}
</table>
<p><a href="{% url 'create-task' %}">Add task</a></p>
<p><a href="{% url 'task-list' %}">See all tasks</a></p>
<p><a href="{% url 'main' %}">Back to main page</a></p>
{% endblock %}
