{% extends "base.html" %}

{% block content %}
<p>Team: {{ team_member.team }}</p>
<p>Team Member: {{ team_member.name }}</p>
<p>Position: {{ team_member.position }}</p>
Tasks:
<table>
    <tr>
        <th>Task</th>
        <th>Priority</th>
        <th>Frequency</th>
        <th>Due</th>
        <th>Department</th>
        <th>Responsible</th>
        <th>Approver</th>
        <th>Status</th>
        <th>End date</th>
    </tr>
    {% for task in tasks_responsible %}
    <tr>
        <td>{{ task.name }}</td>
        <td>{{ task.get_priority_display }}</td>
        <td>{{ task.get_frequency_display }}</td>
        <td>{{ task.get_due_display }}</td>
        <td>{{ task.department }}</td>
        <td>{{ task.responsible }}</td>
        <td>{{ task.approver }}</td>
        <td><a href="{% url 'update-task' task.pk %}">{{ task.get_status_display }}</a></td>
        <td>{{ task.end_date }}</td>
    </tr>
    {% endfor %}
</table>
Tasks to approve:
<table>
    <tr>
        <th>Task</th>
        <th>Priority</th>
        <th>Frequency</th>
        <th>Due</th>
        <th>Department</th>
        <th>Responsible</th>
        <th>Approver</th>
        <th>Status</th>
        <th>End date</th>
    </tr>
    {% for task in tasks_approver %}
    <tr>
        <td>{{ task.name }}</td>
        <td>{{ task.get_priority_display }}</td>
        <td>{{ task.get_frequency_display }}</td>
        <td>{{ task.get_due_display }}</td>
        <td>{{ task.department }}</td>
        <td>{{ task.responsible }}</td>
        <td>{{ task.approver }}</td>
        <td><a href="{% url 'update-task' task.pk %}">{{ task.get_status_display }}</a></td>
        <td>{{ task.end_date }}</td>
    </tr>
    {% endfor %}
</table>
<p><a href="{% url 'main' %}">Back to main page</a></p>
{% endblock %}
